body {
  background-color:  #000;
}

h1 {
  color:  #FFF;
  text-align: center;
}

p {
  color:  #FFF;
  text-align: center;
}

.musicbox_container {
  text-align: center; 
}

.musicbox {
  align-content: center;
  display: inline-block;
}